<footer class="my-12">
  <p class="text-center text-sm text-[#FFF]/60">
    Holaa, esta plantilla es un astro en mi github.
  </p>
  <p class="text-center text-sm text-[#FFF]/60 mt-1">
    Hecho por <a
      href="https://github.com/rp4ri"
      target="_blank"
      rel="noopener"
      aria-label="Podes clonarlo de github"
      class="hover:underline">
      rp4ri
    </a>
  </p>
</footer>
