<footer class="my-12">
  <p class="text-center text-sm text-[#FFF]/60">
    No hay Copyright. Pasen a forkearlo a mi github.
  </p>
  <p class="text-center text-sm text-[#FFF]/60 mt-1">
    Hecho por <a
      href="https://github.com/rp4ri"
      target="_blank"
      rel="noopener"
      aria-label="Forkea esto en mi GitHub"
      class="hover:underline">
      rp4ri
    </a>
  </p>
</footer>
