---
// import Chart from '@components/dinamic/Chart.svelte';
---

<!-- <main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24"> -->
<main
  class="relative pt-8 mx-auto text-center lg:w-2/3">
  <!-- <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="BLARGH!"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div> -->
  <div>
    <div class="flex items-start justify-center max-w-4xl my-32">
      <div class="emoji text-5xl lg:text-5xl xl:text-7xl xl:mx-4">
        游녦
      </div>
      <h1 class="text-[#FFF]/90 text-3xl lg:text-5xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
        Hola, soy <a href="https://github.com/rp4ri" target="_blank" rel="noopener" aria-label="Visita mi perfil de GitHub" class="hover:underline text-[#FFF]/90"> rp4ri</a> <span class="text-[#FFF]/60">(Rodrigo Pari)</span>
      </h1>
      <div class="emoji text-5xl lg:text-5xl xl:text-7xl xl:mx-4">
        游븰
      </div>
    </div>
    
    <p class="text-lg mt-8 text-[#FFF]/55 max-w-3xl mx-auto">
      Bienvenidos a mi aburrida p치gina hecha con astro y svelte.
    </p>

    <p class="text-lg mt-8 text-[#FFF]/55 max-w-3xl mx-auto">
      Soy un ML engineer de <span class="text-[#FFF]/90">LATAM</span>, me encanta hacer cosas con tecnolog칤a y matem치ticas.
    </p>

    <p class="text-lg mt-8 text-[#FFF]/55 max-w-3xl mx-auto">
      Tengo una p치gina sobre el <a href="https://dolarbluebolivia.lat/" target="_blank" rel="noopener" aria-label="Informaci칩n sobre el precio del dolar en el mercado negro de Bolivia" class="hover:underline text-[#FFF]/90"> precio del dolar</a> en el mercado negro de Bolivia.
    </p>

    <p class="text-lg mt-8 text-[#FFF]/55 max-w-3xl mx-auto">
      Actualmente trabajo para <a href="https://ssventures.us/" target="_blank" rel="noopener" aria-label="Visita el sitio web de SS Ventures" class="hover:underline text-[#FFF]/90">SS Ventures</a>, eventualmente dejar칠 algun que otro proyecto open source en mi github personal.
    </p>
  </div>
</main>
