---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div>
  <h2 class="text-center text-lg mt-8 text-[#FFF]/55 max-w-3xl mx-auto">Tal vez te interese seguirme en redes.</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <a href="https://www.instagram.com/rodri.go.p/"><Icon class="h-8 md:h-12" name="mdi:instagram"/></a>
    <a href="https://github.com/rp4ri"><Icon class="h-8 md:h-12" name="mdi:github"/></a>
    <a href="https://www.linkedin.com/in/rodrigo-paris/"><Icon class="h-8 md:h-12" name="mdi:linkedin"/></a>
    <a href="mailto:rodrigo.parisusao25201@gmail.com"><Icon class="h-8 md:h-12" name="mdi:email-outline"/></a>
  </div>
</div>
